MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/
MONGODB_DB=lumina-commerce
PORT=5000
CLIENT_URL=http://localhost:5173
API_URL=http://localhost:5000

# QiCard Payment Gateway (https://developers-gate.qi.iq/docs/category/getting-started)
QICARD_USERNAME=
QICARD_PASSWORD=
QICARD_TERMINAL_ID=
QICARD_BASE_URL=https://uat-sandbox-3ds-api.qi.iq/api/v1
QICARD_CURRENCY=USD
QICARD_LOCALE=en_US
